body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech', Arial, Helvetica, sans serif;
}

body{
    background-color: #333;
    color: #eee;
    background: url('../images/bg.jpg') no-repeat right top fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 16px;
}

.container {
    max-width: 700px;
}

ul.weapon-list{
    margin-left: 0px;
    padding-left: 0px;
}

ul.weapon-list li{
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.sound-button{
    margin-bottom: 5px;
    width: 110px;
    text-align: left;
    margin-right: 5px;
}

.btn-default{
    background-color: transparent;
    color: #eee;
}

.btn-default[disabled]{
    background-color: #222;
    color: #666;
}

.sound-loader{
    width: 14px;
}

.sound-container {
    border-radius: 5px;
    border: solid 1px #ccc;
    background-color: rgba(51, 51, 51, .9);
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom: 30px
}

h3.sound-title {
    margin-top: 0px;
}

h1 a:link, h1 a:visited {
    color: #eee;
}

footer {
    margin-top: 30px;
    text-align: center;
}